*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #000000;
}

.contenedor{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor{
    display: flex;
    width: 100%;
}




.contenido-slider{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    flex-shrink: 0;

}
.contenido-slider:nth-child(1){
    background: gray ;
    /* color: #e2dfdf; */
}
.contenido-slider:nth-child(1) h2{
    /* background: rgb(171, 165, 165); */
    color: #e2dfdf;
}


/* segundo slider */
.contenido-slider:nth-child(2){
    background: linear-gradient( #7d7777, rgb(153, 24, 24)) ;
    color: #e2dfdf;
}
.contenido-slider:nth-child(2) h2{
    /* background: rgb(171, 165, 165); */
    color: #e2dfdf;
}

/* Tercer slider */
.contenido-slider:nth-child(3){
    background: linear-gradient(white, rgb(149, 184, 215));
    /* color: #e2dfdf; */
}
.contenido-slider:nth-child(3) h2{
    /* background: rgb(171, 165, 165); */
    color: #464141;
}

/* 4to slider */
.contenido-slider:nth-child(4){
    background: linear-gradient( #d2adf5, #615d5d);
    
}
.contenido-slider:nth-child(4) h2{
    color: #ebe5e5;
}

.contenido-slider img{
    width:400px;
    /* margin: 20px; */
}
.contenido-slider div{
    width: 40%;
    margin: 10px;
    padding: 10px;
}
.contenido-slider h2{
    font-weight: 300;
    text-align: justify;
    color: rgb(0, 0, 0);
    /* text-shadow: black 5px 10px 6px ; */
}
.contenido-slider a{
    display: inline-block;
    color: rgb(255, 249, 249);
    text-decoration: none;
    background-color: rgb(148, 232, 232);
    font-weight: 600;
    /* font-size: 20px; */
    
    text-align: center;
    width: 150px;
    padding: 15px;
    margin: 10px;
    border-radius: 6px;
}



.btns{
    display: flex;
    width: 600px;
    height: 40px;
    margin: 5px auto 0;
    /* z-index: 100; */
    /* background-color: #b13737; */
    justify-content: space-around
}
.btn{
    width: 60px;
    height: 20px;
    /* background-color: #e2dfdf; */
    margin: auto;
    text-align: center;
    box-shadow: black 5px 10px 20px -10px ;
    border-radius: 20px;
    background-color: transparent;
}
.siguiente{
    border-left:50px solid rgb(81, 87, 88) ;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.antes{
    border-right:50px solid rgb(101, 104, 105) ;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}


@media screen and (max-width:900px) {
    .contenido-slider img{
        width: 250px;
    }
    .contenido-slider div{
        width: 40%;
    }
    .contenido-slider h2{
        font-size: 23px;
    }
}

@media screen and (max-width:600px) {
    .contenido-slider {
        flex-direction: column-reverse;
    }
    .contenido-slider div{
        width: 80%;
    }
    /* .contenido-slider h2{
        font-size: 23px;
    } */
}

